body{
  margin: 0;
  line-height: 24px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

hr {
  background-color: #000;
  height: 6px;
  width: 100%;
}

a {
  text-decoration: none;
}

ul li{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.background-grey{
  display: inline-block;
  background-color: #ccc;
}

#mapa {
  width: 100%;
  height: 350px;
}

.fleft {
  float: left;
}

.fright{
  float: right;
}

.color-blue{
  position: relative;
  background: #0088A0;
}
.color-red{
  position: relative;
  background: #FA4949;
}
.color-yellow{
  position: relative;
  background: #D5AB55;
}
.cover {
  object-fit: cover;
}
.opacity{
  opacity: .3;
}

.txt-white {
  color: #fff;
}
.container-header{
  height: 450px;
}
.container{
  width: 100%;
  display: inline-block;
}
.content-box{
  padding: 10px;
  display: inline-block;
  margin: 0 60px;
}
.content-box-header{
  cursor: pointer;
}
.content-box-title{
  position: absolute;
  bottom: 10px;
}
.logo{
  position: absolute;
  padding: 15px;
  width: 20%;
  z-index: 1;
}
.img-macba-recomend{
  height: 225px;
  padding-right: 10px
}

.img-icon{
  float: left;
  padding-right: 20px;
}

.mas-info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}
.mas-info img {
  display: inline-block;
}
.parr-right {
  padding: 0 10px 0 1px;
}
.parr-left {
  padding: 0 5px 0 2px;
}
.img-sobremacba-right {
  padding: 0 30px 0 1px;x
  height: 400px;
}
.img-sobremacba-left {
  padding: 0 2px 0 30px;
  height: 400px;
}

.border-box {
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: 30px 0;
}

.footer {
  background-color: #000;
  padding: 5px;
  float: left;
}

.footer ul {
  width: 100%;
  text-align: center;
  margin:0;
  padding:0;
  list-style-type:none;
}

.footer li {
  list-style-type: none;
  line-height: 34px;
  padding: 10px 0;
}

.footer li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer li a:visited {
  text-decoration: none
}

.footer li a:hover {
  text-decoration: underline
}

/* Small */
@media(max-width:767px){
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    padding: 7px 0;
    margin: 0;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    padding: 7px 0;
    margin: 0;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
  }
  .col-4-footer{
    width: 100%;
  }

  .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    width: 100%;
  }
  .salto-col-1{
    padding-left:5%;
  }
  .height100{
    height: 70%;
    }
  .height50{
    height: 50%;
  }
  .logo{
    display: none;
  }
  .logo-small{
    position: absolute;
    padding: 15px;
    z-index: 1;
    width: 95px;
  }
  .img-sobremacba-right {
    padding: 0 30px 0 1px;
    margin-bottom: 20px;
    height: 400px;
  }
  .img-sobremacba-left {
    padding: 0 2px 0 30px;
    margin-bottom: 20px;

    height: 400px;
  }
  .border-box {
    display: inline-block;
    border-bottom: 0;
  }
}

/* Medium */
@media(min-width:768px) and (max-width:991px){
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    padding: 7px 0;
    margin: 0;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    padding: 7px 0;
    margin: 0;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  .col-12{
    width: 100%;
  }

  .col-4-footer{
    width: 100%;
  }

  .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    width: 50%;
  }
  .height100{
    height: 70%;
    }
  .height50{
    height: 50%;
  }
  .salto-col-1{
    padding-left: 5%;
  }
  .logo{
    display: none;
  }
  .logo-small{
    position: absolute;
    padding: 25px;
    z-index: 1;
    width: 150px;
  }
  .img-sobremacba-right {
    padding: 0 30px 0 1px;
    height: auto;
  }
  .img-sobremacba-left {
    padding: 0 2px 0 30px;
    height: auto;
  }
}

/* Large */
@media(min-width:992px){
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    padding: 7px 0;
    margin: 0;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    padding: 7px 0;
    margin: 0;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  .col-12{
    width: 100%;
    }
  .col-11{
    width: 91.66666667%;
    }
  .col-10{
    width: 83.33333333%;
    }
  .col-9{
    width: 75%;
    }
  .col-8{
    width: 66.66666667%;
    }
  .col-7{
    width: 58.33333333%;
    }
  .col-6{
    width: 50%;
    }
  .col-5{
    width: 41.66666667%;
    }
  .col-4-footer{
      width: 33.33333333%;
    }
  .col-4{
    width: 33.33333333%;
    }
  .col-3{
    width: 25%;
    }
  .col-2{
    width: 16.66666667%;
    }
  .col-1{
    width: 8.33333333%;
  }
  .salto-col-1{
    margin-left: 8.33333333%;
  }
  .height50{
    height: 50%;
  }
  .height100{
    height: 100%;
  }
  .logo{
    position: absolute;
    padding: 25px;
    width: 280px;
    z-index: 1;
  }
  .logo-small{
  display: none;
  }
}
