.panel-main {
  top: 169px;
  position: relative;
  padding: 0 20px;
  .cap-box-bottom {
    background-color:#ffffff;
    position:relative;
    min-height: 700px;
    .multi-step-form {
      position:relative;
      width:100%;
      .progressbar {
	      overflow: hidden;
        width: 100%;
        height:130px;
        padding: 0;
        li {
          list-style-type: none;
          width: 25%;
          float:left;
          position: relative;
          height:78px;
          z-index: 10;
          text-align: right;
          span {
            width: 78px;
            line-height: 78px;
            display: block;
            font-size: 50px;
            color: #dfe0e1;
            margin: 5px auto 5px auto;
            text-align:center;
            z-index:30;
            &:before {
              content: '';
              width: 100%;
              height: 6px;
              background-color: #dfe0e1;
              position: absolute;
              left: 0px;
              top: 40px;
              z-index: -1; /*put it behind the numbers*/
            }
          }
          &.active {
            span {
              color: #FA4949;
              &:before {
                background: #FA4949;
              }
            }
          }
          p {
            display: block;
            font-size: 12px;
            color: #dfe0e1;
            margin: 5px auto 5px auto;
            text-align:center;
            z-index:30;
            text-transform: uppercase;
            font-weight: bold;
            &:before {
              content: '';
              width: 100%;
              height: 6px;
              background-color: #dfe0e1;
              position: absolute;
              left: 0px;
              top: 40px;
              z-index: -1; /*put it behind the numbers*/
            }
            @media(max-width:767px){
              display: none;
            }
          }
          &.active {
            p {
              color: #000;
              &:before {
                background: #FA4949;
              }
            }
          }
        }
      }
    }
  }
}


#accordion {
     margin-top:10px;
}

#accordion div {
    background:white;
    height:100px;
    line-height:100px;
    display:none;
    border-bottom:thin solid #cecece;
    padding-left:15px;
    font-size: 14px;
    font-weight: lighter;
}

.accordion--link {
    display:block;
    color:#000;
    padding-left:15px;
    text-decoration:none;
    border-bottom:thin solid #cecece;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    p{
      font-size: 12px;
    }
}

.crossRotate.active {
  transform: rotateX(180deg);
}
