.leftside {
  width: 50%;
  padding: 30px 20px;
  float: left;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 50%;
    padding-bottom: 0;
  }
  /* Small */
  @media(max-width:767px){
    width: 100%;
  }
}

.breadcrumb{
  padding: 20px 20px 10px;
  position: absolute;
  top:250px;
  /* Small */
  @media(max-width:767px){
    display:none;
  }
}
.breadcrumb-text{
  color: black;
  text-decoration: underline;
  padding: 0 5px;
}

.centerside {
  width: 100%;
  padding-left: 20px;
  float: left;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 50%;
    padding-bottom: 0;
  }
  /* Small */
  @media(max-width:767px){
    width: 100%;
  }
}


.rightside {
  width: 30%;
  padding: 30px 20px;
  float: left;

  /* Small */
  @media(max-width:767px){
    width: 100%;
    float: none;
  }

}

.containertext{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.containerbox{
  display: inline;
  align-items: baseline;
  float: left;
  padding: 0 20px;

  /* Small */
  @media(max-width:767px){
    display: block;
  }
}


.imagenL {
  width: 100%;
  height: auto;
}

.imagenesp{
  width: 100%;
  height:405px;
  display: inline-flex;
  flex-direction: row;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 292px;
    display: block;
  }
  /* Small */
  @media(max-width:767px){
    width: 292px;
    display: block;
  }
}

.middle-img{
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 292px;
    display: block;
  }
}

.middle-img1{
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 292px;
    display: block;
  }
  /* Small */
  @media(max-width:767px){
    width: 292px;
    display: block;
  }
}

.download{
  display:inline;
}

.share{
  float: left;
}


.buttoncontainer{
  display:flex;
  align-items: flex-end;


  .botontop{
    width: 240px;
    height: 60px;
    color:white;
    background-color: black;
    border: none;
    border-style: none;
    margin-top: 20px;
  }

  /* Small */
  @media(max-width:767px){
    display: none;
  }
}

.imgContainer{
  float:left;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 292px;
    float: none;
  }
  /* Small */
  @media(max-width:767px){
    width: 292px;
    float: none;
  }
}

.buttoncontainer2{
  display:none;

  /* Small */
  @media(max-width:767px){
    display: flex;
    align-items: baseline;

    .botontop2{
      width: 240px;
      height: 60px;
      color:white;
      background-color: black;
      border: none;
      border-style: none;
      margin-bottom: 20px;
    }

  }
}



.botontop3{
  float: right;
  width: 150px;
  height: 60px;
  color:white;
  background-color: black;
  border: none;
  border-style: none;
  margin-top: 20px;
}
/* Small */
@media(max-width:767px){
  display:none;
}

.botontop3:hover {
  float: right;
  width: 150px;
  height: 60px;
  color:black;
  background-color: white;
  border: none;
  border-style: none;
  margin-top: 20px;
}
/* Small */
@media(max-width:767px){
  display:none;
}

.botontop4{
  float: right;
  width: 150px;
  height: 60px;
  color:white;
  background-color: black;
  border: none;
  border-style: none;
  margin-top: 20px;
  display:none;
}
/* Small */
@media(max-width:767px){
  display: flex;
}

.linkfa{
  text-align: left;
}

.hr {
  background-color: black;
  height: 1px;
  width: 90%;
}


.buttoncontainer-black{
  display:flex;
  align-items: flex-end;


  .botontop-black{
    width: 300px;
    height: 60px;
    color:white;
    background-color: red;
    border: none;
    border-style: none;

  .fecha-act{
      height: 60px;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 40%;
      position: relative;
      /* Small */
      @media(max-width:767px){
        display: none;
    }
  }
}
}

.fecha-act{
  height: 60px;
  color:white;
  text-align: center;
}

.buttoncontainer-black2{
  display:none;
  align-items: flex-end;


  .botontop-black2{
    width: 300px;
    height: 60px;
    color:white;
    background-color: red;
    border: none;
    border-style: none;
    margin: 20px 5px 20px 0;
  }

  /* Small */
  @media(max-width:767px){
    display: flex;
  }
}

.fecha_exp{
  justify-content: flex-end;
  color: #fff;
}




.infosem{
  position: relative;
  display: flex;
  flex-direction: column;
  top:300px;
  left:1.5%;
  width: 30%;

  /* Small */
  @media(max-width:767px){
width:100%
  }

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    width: 100%;
  }


  p{
    padding-left: 10px;
  }
}

.mapa{
  position: relative;
  display: flex;
  width:600px;
  height:450px;
  border:0;
  top: -275px;
  right: 10%;
  float: right;
  /* Small */
  @media(max-width:767px){
display: none;
  }

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    display: block;
    width: 600px;
    height: 450px;
    border: 0;
    top: 0;
    padding-top: 20em;

  }
}

.filtrosres{
  display: flex;
  position: relative;
  top: 280px;
  left: 1.7%;
  a{
    color: #000;
  }
}

.resultado{
  position: relative;
      background: #f5f3f3;
      width: 100px;
      height: 25px;
      display: -webkit-box;
      display: flex;
      float: right;
      justify-content: center;
      align-items: center;
      left: 10px;

  i{
    padding-left: 10px;
  }
}

.icono-descargate{
  padding: 20px 0 20px 0;
}

.titulo-cabecera{
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: black;
  padding-left: 20px;
}


.fotoWidth100-expos-macba31 {
  @include cabeceras-fichas('../img/Exposiciones/Coleccion_MACBA.png');
}


.fotoWidth100-expos-forensic {
  @include cabeceras-fichas('../img/Exposiciones/forensic_architecture.png');
  }

.fotoWidth100-expos-akram {
  @include cabeceras-fichas('../img/Exposiciones/akram.jpg');
}

.fotoWidth100-expos-gelatina {
  @include cabeceras-fichas('../img/Exposiciones/GelatinaDura.png');
}

.fotoWidth100-expos-bestia {
  @include cabeceras-fichas('../img/Exposiciones/labestia.png');
}

.fotoWidth100-expos-punk {
  @include cabeceras-fichas('../img/Exposiciones/punk-arte.jpg');
}

.fotoWidth100-acti-transformacion {
  @include cabeceras-fichas('../img/Actividades/en-transformacion.png');
}

.fotoWidth100-acti-conlacomida{
  @include cabeceras-fichas('../img/Actividades/con-la-comida.png');
}

.fotoWidth100-acti-signando{
  @include cabeceras-fichas('../img/Actividades/MACBA_Visita_Performativa_300dpi_077.1.png');
}
.fotoWidth100-alq-atrio{
  height: 400px;
  background:#000;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  @media(max-width:991px){
    margin-top: 30px;
  }
  }

.fotoWidth100-acti-cuerpos{
  @include cabeceras-fichas('../img/Actividades/099.Col__leccini_31_9340.jpg');
}

.fotoWidth100-acti-casorio{
  @include cabeceras-fichas('../img/Actividades/elcasorio.jpg');
}

.fotoWidth100-acti-habitacion{
  @include cabeceras-fichas('../img/Actividades/habitacion_1418.jpg');
}


  .fotoWidth100-text-azul {
    width:100%;
    height: 80px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
  }

  .fotoWidth100-text-amarillo {
    width:100%;
    height: 80px;
    color:#fff;
    background-color:rgba(213,171,85,.85);
    padding:.5em 1em;
  }


  .fotoWidth100-acti-prox {
    width: 100%;
    background-color: rgba(213,171,85,0.85);
    padding: 10px 10px 20px 25px;
    float: right;
    height: 80px;
    top: 3em;
    position: relative;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .fotoWidth100-expo-rel {
    width: 100%;
    background-color: rgba(36,152,172,0.85);
    padding: 10px 10px 20px 25px;
    float: right;
    height: 80px;
    top: 3em;
    position: relative;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }


#slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;

  img{
    height: 100%;
  }
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 1;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
