/* Small */
@media(max-width:767px){

  .col-12, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    width: 100%;
  }
  .col-11{
    width: 89%;
  }

  .col-icono {
    width: 11%;
  }
  .salto-col-1{
    padding-left:5%;
  }
  .col-5-home, .col-7-home{
    width: 100%;
  }

}

/* Medium */
@media(min-width:768px) and (max-width:991px){

  .col-12{
    width: 100%;
  }
  .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    width: 50%;
  }
  .col-11{
    width: 89%;
  }
  .col-icono {
    width: 11%;
  }
  .salto-col-1{
    padding-left: 5%;
  }
  .col-5-home, .col-7-home, .col-6-objetivos{
    width: 100%;
  }

}

/* Large */
@media(min-width:992px){

  .col-12{
    width: 100%;
  }
  .col-11{
    width: 89%;
  }
  .col-10{
    width: 83.33333333%;
  }
  .col-9{
    width: 75%;
  }
  .col-8{
    width: 66.66666667%;
  }
  .col-7{
    width: 58.33333333%;
  }
  .col-7-home{
    width: 58.33333333%;
  }
  .col-6{
    width: 50%;
  }
  .col-6-objetivos{
    width: 50%;
  }
  .col-5{
    width: 41.66666667%;
  }
  .col-5-home{
    width: 41.66666667%;
  }
  .col-4{
    width: 33.33333333%;
  }
  .col-3{
    width: 25%;
  }
  .col-2{
    width: 16.66666667%;
  }
  .col-1{
    width: 8.33333333%;
  }
  .col-icono {
    width: 11%;
  }
  .salto-col-1{
    margin-left: 8.33333333%;
  }
}

.margin1{
  margin-top: 10em;
}

.margin2{
  margin-top: 23em;
  @media(max-width:991px){
    margin-top: 15em;
  }
}
.margin21{
  margin-top: 23em;
  @media(max-width:991px){
    margin-top: 0;
  }
}

.margin3{
  margin-top: 18em;
  @media(max-width:991px){
    margin-top: 13em;
  }
}

.margin4{
  padding: 3em 0 0;

}

.margin5{
  margin-top: 0em;
  /* Small */
  @media(max-width:767px){
    margin-top: 20em;
  }
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
      margin-top: 50em;
  }
}

.margin6 {
    margin-top: 14em;
}

.margin7{
  margin-top: 17em;
}

.padding-left10 {
  padding-left: 10px;
    @media(max-width:991px){
      padding-left: 0px;
    }
}

.container_landing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width:100%;



  .box-foto{
    position:relative;
    height: 275px;
    /* Small */
    @media(max-width:767px){
      margin: 0;
    }

  }
  .img-pastilla {
    width:100%;
    height: 200px;
    object-fit: cover;
  }

  .categoria{
    display: flex;
    align-items:center;
    padding-right: 10px;
  }



  .edad_cat{
    display: flex;
    align-items:center;
    padding-right: 10px;
  justify-content: space-between;
  }

  .column_landing {
    box-sizing: border-box;
  }

  .column_landing_footer{
    width: 100%;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){
      display: flex;
      flex-direction: row;
    }
    /* Small */
    @media(max-width:767px){
      display: flex;
      flex-direction: column;
    }
  }

  .cajita{
    background: #F5F3F3;
    height: 450px;
    margin: 20px;
    i { margin-right: 10px;
      @media(max-width:767px){
        margin-bottom:18px;
      }

     }
  }


  .caja--destacada{
    background: #0080a0;
    height: 450px;
    margin: 20px;
    i { margin-right: 10px;
      @media(max-width:767px){
        margin-bottom:18px;
      }
    }
  }
}


.box-text1 {
  position: relative;
  left: 10%;
  color: #000;
  width: 80%;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    height: 300px;
  }
}

.box-text2 {
  position: relative;
  left: 10%;
  color: #fff;
  width: 80%;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    height: 300px;
  }
}


@media screen and (min-width: 768px) {
  .container_landing {
    flex-direction: row;
  }
  .column_landing {
    flex-basis: 50%;
  }
  .column_landing2 {
    flex-basis: 33.3333%;
    text-align: center;
  }
  .column_landing_footer{
    box-sizing: border-box;
    flex-basis: 50%;
  }
}

@media screen and (min-width: 991px) {
  .container_landing {
    flex-direction: row;
  }
  .column_landing {
    flex-basis: 33.3333%;
  }
  .column_landing_footer{
    flex-basis: 50%;
  }
}


.btn-filtros {
  background-color: #424242;
  text-decoration: none;
  color: #ffffff;
  width: 80px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  height: 38px;
  top: 27px;
  /* Small */
  @media(max-width:991px){
  right:0%
  }
}


.btn-filtros2 {
  background-color: #424242;
  text-decoration: none;
  color: #ffffff;
  width: 80px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  height: 38px;
  top: 27px;
  right: 70%;

  /* Small */
  @media(max-width:767px){
right:0%;
width:88%;
top:0;
  }

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
right:53%;
  }
}

.btn-filtros3 {
  background-color: #424242;
  text-decoration: none;
  color: #ffffff;
  width: 80px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  height: 38px;
  top: 27px;
  right: 57%;

  /* Small */
  @media(max-width:767px){
right:0%;
width:88%;
top:0;
  }

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
right:53%;
  }
}

.containerboxfiltro{
  display: flex;
  width: 100%;
  position: relative;
  top: 320px;
  margin: 0;
  padding: 0 25px;
  flex-direction: row;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: 220px;
  }
  /* Small */
  @media(max-width:767px){
    display: flex;
    top: 220px;
    flex-direction: column;
  }
}

.contentboxfiltro{
  display: -webkit-box;
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  flex-direction: row;

  /* Small */
  @media(max-width:767px){
    display: flex;
    flex-direction: column;
  }
}

.containerboxfiltro2{
  display: flex;
  width: 100%;
  position: relative;
  top: 245px;
  margin: 0;
  padding: 0 25px;
  flex-direction: row;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: 220px;
  }
  /* Small */
  @media(max-width:767px){
    display: flex;
    top: 220px;
    flex-direction: column;
  }
}


.textofiltro{
  display:inline-flex;
  margin:0;
  padding-right:20px;
}



.archivoboton{
  display: flex;
  position: relative;
  top: 28px;
  width: 230px;
  a{
    color: #000;
  }
  @media(max-width:991px){
    right: 0;
    top: 40px;
  }
}

.container_landing_footer {
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding: 5px;
  color: white;
  position: relative;
  padding-bottom: 50px;

  /* Media */
  @media(min-width:768px) and (max-width:991px){
    flex-wrap: wrap;
  }


  /* Small */
  @media(max-width:767px){
      flex-wrap: wrap;}
}

.container_landing_footer_legal {
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding: 5px;
  color: grey;
  text-align: center;


  /* Media */
  @media(min-width:768px) and (max-width:991px){
    flex-wrap: nowrap;
  }

  /* Small */
  @media(max-width:767px){
    display: flex;
    flex-direction: column;
  }
}


.container_landing_footer_legal {
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding: 5px;
  color: grey;
  text-align: center;


  /* Media */
  @media(min-width:768px) and (max-width:991px){
    flex-wrap: nowrap;
  }

  /* Small */
  @media(max-width:767px){
    display: flex;
    flex-direction: column;
  }
}

.cajaprecio {
  width: 100%;
  background-color:#9B9B9B;
  padding: 10px 10px 20px 25px;
  color: #fff;
  display: flex;
  align-items: center;
}

.cajaprecio--descrip {
  width: 100%;
  padding: 10px 10px 20px 25px;
}


.form-datos{
  padding: 5px 30px;
  padding: 15px 30px;
    @media(max-width:991px){
      padding: 5px 10px;
    }
}

.precioidiomas {
  padding: 10px 10px 20px 0px;
}

.flexcont {
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  @media(max-width:991px){
    flex-direction: column;
  }
}

.flexitem {
  display: flex;
  justify-content: flex-end;
  @media(max-width:991px){
    justify-content: flex-start;
  }
}

.img-item{
  width: 100%;
}
