.content-box-expos{
  background-image: url(../img/home/expos.jpg);
  background-position: center;
  background-size: cover;
  background-color: #0088A0;
  background-blend-mode: multiply;
}

.content-box-actividades{
  background-image: url(../img/home/museo.jpg);
  background-position: center;
  background-size: cover;
  background-color: #D5AB55;
  background-blend-mode: multiply;
}

.content-box-alquiler{
  background-image: url(../img/home/auditorio.png);
  background-position: center;
  background-size: cover;
  background-color: #FA4949;
  background-blend-mode: multiply;
}

.content-box-museo{
  background-image: url(../img/home/grup_lectura.png);
  background-position: center;
  background-size: cover;
  background-color: #7F1786;
  background-blend-mode: multiply;
}
