.menu-expos{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 20px 0 5px;
  list-style-type: none !important;
  li {
    padding: 0 25px;
    color: #000;
    text-align: right;
  }
  .active-list{
    font-weight: bold;
    font-size: 20px;
  }
  a{
    color: #000;
  }
}
