// Mixins
// --------------------------

@mixin cabeceras-fichas($bg-image) {
  height: 400px;
  background:url($bg-image);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  @media(max-width:991px){
    margin-top: 20px;
  }

}

@mixin titulo($bg-color) {
  width: 100%;
  background-color: $bg-color;
  padding: 10px 10px 20px 25px;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
}
