.container-adapt {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    align-content: stretch;
    /* Small */
    @media(max-width:991px){
      width: 100%;
      display: block;
    }

    /* Medium */
    @media(min-width:768px) and (max-width:991px){
      width: 50%;
    }

  .content-box-listado{
    padding: 30px 20px;
    flex: 0 0 33%;
    align-self: stretch;
    a{
      color:#fff;
    }
    /* Medium */
    @media(min-width:768px) and (max-width:991px){
      flex: 0 0 50%;
    }
    /* Small */
    @media(max-width:767px){
      flex: 0 0 100%;
    }
  }
}

.box-foto{
  width:80%;
  position:absolute;
  top:10%;
  left: 10%;
  display:inline-block;
  float: left;
  height: 275px;
  /* Small */
  @media(max-width:767px){
    margin: 0;
  }
  .img-pastilla {
    width:100%;
    height: 200px;
    object-fit: cover;
  }
  .spanamarillo {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(186,144,58,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }

  }
  .spanamarojo {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(255,24,50,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }

  }

  .spanazul {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){
    }
  }

  .spanazul:hover {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:black;
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){
    }
  }

  .spannegro {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(0,0,0,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }
  }
  .spannegro2 {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(0,0,0,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }
  }

  .spannegro2:hover {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }
  }


  .spanlila {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(127,23,134,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }

    img{
      width: auto;
    }
  }

}


.box-text {
  position: relative;
      display: inline-block;
      top: 240px;
      left: 10%;
      color: #fff;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    height: 300px;
  }


  .box-edad {
    position: absolute;
    display: inline-block;
    color: #343232;
    padding-left: 1.5em;
    bottom: 0;
  }
  .box-info{
    margin: 0;
    padding: 1em;
    padding: 30px;
    width: 100%;
  }
}

.box-button{
  border: none;
  background-color: #D5AB55;
  color: #fff;
  padding: 13px;
  width: 100%;
}

.box-button-rojo{
  border: none;
  background-color: #FF1832;
  color: #fff;
  padding: 13px;
  width: 100%;
}

.box-button-negro{
  border: none;
  background-color: #000000;
  color: #fff;
  padding: 13px;
  width: 100%;
}
.box-button-azul{
  border: none;
  background-color: #2498AC;
  color: #fff;
  padding: 13px;
  width: 100%;
}

.box-button-lila{
  border: none;
  background-color: #7F1786;
  color: #fff;
  padding: 13px;
  width: 100%;
}

/* Medium */
@media(min-width:768px) and (max-width:991px){
  .foto-sobre-el-macba {
    height: 600px
  }
}


  .box-text2 {
    position: relative;
        display: inline-block;
        top: 240px;
        left: 10%;
        color: #000;
        width:80%;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){
      height: 300px;
    }
  }




  .container-adapt2 {
      display: flex;
      margin: 0 auto;
      width: 80%;
      flex-wrap: wrap;
      align-content: stretch;
      margin-top: 3%;
      /* Small */
      @media(max-width:991px){
        width: 100%;
        display: block;
      }

      /* Medium */
      @media(min-width:768px) and (max-width:991px){
        width: 50%;
      }

    .content-box-listado{
      padding: 30px 20px;
      flex: 0 0 33%;
      align-self: stretch;
      a{
        color:#fff;
      }
      /* Medium */
      @media(min-width:768px) and (max-width:991px){
        flex: 0 0 50%;
      }
      /* Small */
      @media(max-width:767px){
        flex: 0 0 100%;
      }
    }
  }



  .container-adapt3 {
    display: flex;
      position: absolute;
      margin: 0 auto;
      width: 80%;
      flex-wrap: wrap;
      align-content: stretch;
      margin-top: 0;
      left: 10%;
      /* Small */
      @media(max-width:991px){
        width: 100%;
        display: block;
      }

      /* Medium */
      @media(min-width:768px) and (max-width:991px){
        width: 50%;
      }

    .content-box-listado{
      padding: 30px 20px;
      flex: 0 0 33%;
      align-self: stretch;
      a{
        color:#fff;
      }
      /* Medium */
      @media(min-width:768px) and (max-width:991px){
        flex: 0 0 50%;
      }
      /* Small */
      @media(max-width:767px){
        flex: 0 0 100%;
      }
    }
  }
