.container-adapt {
  display: inline-block;
  .content-box-listado{
    width: 30%;
    margin: 0 auto;
    padding: 30px 20px;
    float: left;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){
      width: 50%;
    }
    /* Small */
    @media(max-width:767px){
      width: 100%;
    }
  }
}

.box-foto{
  width:100%;
  position:relative;
  margin-right:1px;
  display:inline-block;
  float: left;
  height: 275px;
  /* Small */
  @media(max-width:767px){
    margin: 0;
  }
  .img-pastilla {
    width:100%;
    height: 275px;
    object-fit: cover;
  }
  .spanamarillo {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(186,144,58,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }

  }
  .spanamarojo {
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:rgba(255,24,50,.85);
    padding:.5em 1em;
    text-align: left;
    margin: 0;
    /* Medium */
    @media(min-width:768px) and (max-width:991px){

    }

}
    .spanlila {
      position:absolute;
      bottom:0;
      width:100%;
      color:#fff;
      background-color:rgba(127,23,134,.85);
      padding:.5em 1em;
      text-align: left;
      margin: 0;
      /* Medium */
      @media(min-width:768px) and (max-width:991px){

      }

    img{
      width: auto;
    }
  }

}


.box-text {
  position: relative;
  display: inline-block;
  background-color: #F5F3F3;
  height: 300px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    height: 300px;
  }
  .box-edad {
    position: absolute;
    display: inline-block;
    color: #343232;
    padding-left: 1.5em;
    bottom: 0;
  }
  .box-info{
    margin: 0;
    padding: 1em;
    padding: 30px;
    width: 100%;
  }
}
.box-button{
  border: none;
  background-color: #D5AB55;
  color: #fff;
  width: 100%;
}

.box-button-rojo{
  border: none;
  background-color: #FF1832;
  color: #fff;
  padding: 13px;
.box-button-lila{
  border: none;
  background-color: #7F1786;
  color: #fff;
  width: 100%;
}

/* Medium */
@media(min-width:768px) and (max-width:991px){
  .foto-sobre-el-macba {
    height: 600px
  }
}
