.formplanea {
  width: 95%;
  background-color: #F5f3f3;
  color: #000;
  margin-top: 22em;
  margin-left: 30px;
  margin-bottom: 3em;
padding: 35px;


/* Medium */
@media(min-width:768px) and (max-width:991px){
  margin-top: 16em;
    margin-left: 15px;
}
/* Small */
@media(max-width:991px){
  margin-top: 14em;
    margin-left: 12px;
}

}

.formulario{
  width: 95%;
  margin: 0 auto;
}
