.fotoresobremacba {
    background:url('../img/sobremacba/sbm-quienesomos.jpg');
    background-size: cover;
    background-position:bottom;
    position: relative;
    height: 400px;
    @media(max-width:767px){
            height: 470px;
    }
    div {
        padding: 10px 15px;
        @media(max-width:767px){
                padding: 25px 15px;

        }
    }
}

    .fotorecomienda-museo-text {
        width:356px;
        color:#fff;
        background-color:rgba(186,144,58,.85);
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        /* Small */
        @media(max-width:767px){
            width: 100%;
            height: 40%;
            span {
                position: absolute;
                bottom: 0;
                padding: 0 10px;
            }
        }
    }
