.fotoWidth100-tickets {
  height: 400px;
  background:url('../img/Tickets/shutterstock_321515534 (1).jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
    .fotoWidth100-text-rojo {
      width:100%;
      height: 150px;
      color:#fff;
      background-color:rgba(255,24,50,.85);
      padding:.5em 1em;
      text-align: left;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
  }
}

.fotoWidth100-sem {
  height: 400px;
  background:url('../img/SEM/GDL.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-lila {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(127,23,134,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

.fotoWidth100-expos {
  height: 400px;
  background:url('../img/Exposiciones/La_bestia_i_el_sobira.2.4.png');
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-azul {
    width:100%;
    height: 240px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    display: inline-block;
    position: relative;
    float: left;
  }
}

.fotoWidth100-alquiler {
  height: 400px;
  background:url('../img/Alquiler/Alquiler Tamaño.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-negro {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(40,40,40,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
}

.fotoWidth100-actividades {
  height: 400px;
  background:url('../img/Actividades/shutterstock_159444323.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }

  .fotoWidth100-actividades-cuerpos {
    height: 400px;
    background:url('../img/Actividades/099.Col__leccini_31_9340.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin-top: 183px;
    @media(max-width:991px){
      margin-top: 169px;
    }
  }

  .fotoWidth100-text-amarillo {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(213,171,85,.85);
    padding:.5em 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}


.fotoWidth100-contacto {
  height: 400px;
  background:url('../img/Contacto/shutterstock_432861646.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-negro {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(40,40,40,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}


.fotoWidth100-exposf {
  height: 400px;
  background:url('../img/Exposiciones/EFA_HR.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-azul {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .fecha{
      text-align: right;
      display: inline;
    }
  }

}

.fotoWidth100-alquileri {
  height: 400px;
  background:url('../img/Alquiler/Auditori2_770x607.jpg');
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  }
  .fotoWidth100-text-negro {
    width:100%;
    height: 150px;
    color:white;
    background-color:rgba(40,40,40,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    }


.container-aviso{
  height: 400px;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
}

.fotoWidth100-planea {
  height: 400px;
  background:url('../img/Planea/shutterstock_432834277.jpg');
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }

  }

  .fotoWidth100-text-rojo {
    width:100%;
    height: 150px;
    color:white;
    background-color:rgba(255,24,50,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    }
