.foto{
    width:31%;
    position:relative;
    margin:1px;
    display:inline-block;
    float: left;
}

.foto img{
    width:100%;
}
.foto span{
    position:absolute;
    bottom:2px;
    width:100%;
    text-align:center;
    color:#fff;
    background-color:#7F1786;
    padding:.5em 0;
    background-blend-mode: multiply;
}


.foto-background {
    background: url('/img/alquiler/Auditorio.png');
    background-blend-mode: multiply;
}
