.fotoWidth100-tickets {
  height: 400px;
  background:url('../img/Tickets/shutterstock_321515534 (1).jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-rojo {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(255,24,50,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

.fotoWidth100-sem {
  width: 100%;
  background-color: rgba(127,23,134,.85);
  padding: 10px 10px 20px 25px;
  float: right;
  height: 80px;
  top: 169px;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  }
  
  .fotoWidth100-text-lila {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(127,23,134,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }


.fotoWidth100-expos {
  width: 100%;
  background-color: rgba(36,152,172,0.85);
  padding: 10px 10px 20px 25px;
  float: right;
  height: 80px;
  top: 169px;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
}

.fotoWidth100-expos-prox {
  width: 100%;
  background-color: rgba(36,152,172,0.85);
  padding: 10px 10px 20px 25px;
  float: right;
  height: 80px;
  top: 118%;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
}

  .fotoWidth100-text-azul {
    width:100%;
    height: 240px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    display: inline-block;
    position: absolute;
    float: left;

}

.fotoWidth100-exposfuturas {
  height: 400px;
  background:url('../img/Exposiciones/EFA_HR.jpg');
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-azulfuturas {
    width:100%;
    height: 240px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    display: inline-block;
    position: relative;
    float: left;
  }
}

.fotoWidth100-alquiler {
  width: 100%;
  background-color: rgba(40,40,40,.85);
  padding: 10px 10px 20px 25px;
  float: right;
  height: 80px;
  top: 169px;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  }

  .fotoWidth100-alquilercda {
    width: 100%;
    background-color: rgba(40,40,40,.85);
    padding: 10px 10px 20px 25px;
    float: right;
    height: 80px;
    top: 108%;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    }

  .fotoWidth100-text-negro {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(40,40,40,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }


.fotoWidth100-actividades {
  width: 100%;
  background-color: rgba(213,171,85,.85);
  padding: 10px 10px 20px 25px;
  float: right;
  height: 80px;
  top: 169px;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  @media(max-width:991px){
    margin-top: 169px;
  }

  .fotoWidth100-text-amarillo {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(213,171,85,.85);
    padding:.5em 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

.fotoWidth100-actividades-cuerpo {
  height: 400px;
  background:url('../img/Actividades/099.Col__leccini_31_9340.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }

  .fotoWidth100-text-amarillo {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(213,171,85,.85);
    padding:.5em 1em;
    display: inline-block;
  }
}


.fotoWidth100-contacto {
  height: 400px;
  background:url('../img/Contacto/shutterstock_432861646.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-negro {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(40,40,40,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}


.fotoWidth100-exposf {
  height: 400px;
  background:url('../img/Exposiciones/EFA_HR.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
  .fotoWidth100-text-azul {
    width:100%;
    height: 150px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .fecha{
      text-align: right;
      display: inline;
    }
  }

}

.fotoWidth100-alquileri {
  height: 400px;
  background:url('../img/Alquiler/Auditori2_770x607.jpg');
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
}
.fotoWidth100-text-negro {
  width:100%;
  height: 150px;
  color:white;
  background-color:rgba(40,40,40,.85);
  padding:.5em 1em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


.container-aviso{
  height: 400px;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
}

.fotoWidth100-planea {
  height: 400px;
  background:url('../img/Planea/shutterstock_432834277.jpg');
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }

}

.fotoWidth100-text-rojo {
  width:100%;
  height: 150px;
  color:white;
  background-color:rgba(255,24,50,.85);
  padding:.5em 1em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.fotoWidth100-expos-forensic {
  height: 400px;
  background:url('../img/Exposiciones/forensic_architecture.3 copia.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  @media(max-width:991px){
    margin-top: 169px;
  }

  .fotoWidth100-text-azul {
    width:79%;
    height: 80px;
    color:#fff;
    background-color:rgba(36,152,172,.85);
    padding:.5em 1em;
    display: inline-block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}
